APP_ENV=development
RACK_ENV=development
BRIDGETOWN_ENV=development

DATABASE_URL=postgres://bfp:bfp@postgres:5432/bfp_development
TEST_DATABASE_URL=postgres://bfp:bfp@localhost:5432/bfp_test
DB_POOL=5

CANONICAL_HOST=bigfluffypuffy.org
